/* Footer general style */
.footer {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 0.5rem 1rem; /* Slimmer padding */
  border-top: 1px solid var(--gold-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.3rem;
  font-size: 0.9rem;
}
.footer-content {
 margin:1rem 0rem;
  display: flex;
  flex-direction: column;
  
}

/* Footer links */
.footer-icons{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.footer-content .icon {
  margin: 0 0.4rem;
  font-size: 1.7rem;
  color: #aaa;
  transition: all 0.3s ease;
  position: relative;
}
.footer-content .icon:hover {
  color: var(--gold-metallic);
  transform: scale(1.2); /* zoom in */
  text-shadow: 0 0 10px var(--gold-shadow), 0 0 20px var(--gold-light);
}

/* Footer text */
.text{
  margin: 0.3rem 0;
  font-size: 0.8rem;
  color: #eee;
}

.footer-made-by, .page-link{
  color: #aaaa;
  margin: 0.3rem 0;
  font-size: 0.7rem;
  font-weight: 600;
  
}
.page-link:hover{
color: var(--gold-metallic);
transition: color 0.5s ease-out;
}
/* Responsive adjustments */
@media (max-width: 600px) {
  .footer-content a {
    font-size: 1.5rem;
    margin: 0 0.3rem;
  }

  .footer {
    padding: 0.4rem 0.5rem;
  }
}
