.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.859);
  padding: 0.5rem 1.8rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  border-bottom:  1px solid var(--gold-shadow); 
  
}

.logo-h1 {
  color: var(--gold-bright);
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  transition: all 0.3s ease;

}
.logo-h1:hover {
  color: var(--gold-light);
  transition: color 0.3s ease-in-out;
  transform: scale(3); /* zoom in */
  
}


@media (max-width: 500px) {
  .header {
    padding: 0.5rem 1rem;
    
  }
  .logo-h1 {
    font-size: 1.2rem;
  }
}