/* Home.css */
/*https://colorhunt.co/palette/17153b2e236c433d8bc8acd6
https://colorhunt.co/palette/070f2b1b1a55535c919290c3
https://colorhunt.co/palette/0b244719376d576cbca5d7e8 possible paleta*/
/* .home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

/* .main {
  flex: 1;
  padding: 20px; /* opcional */
/* } */ 


/* .app {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 4vh;
  padding: 0 1rem;
}

.menu-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 10;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.menu-icon span {
  width: 30px;
  height: 3px;
  background: white;
  display: block;
}

.intro-text {
  /* align-self: flex-end;
  max-width: 400px;
  text-align: right; */
  /* font-size: 0.9rem;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.intro-text button {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.hero-title {
  font-size: 5.8rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2; */
  /* display: flex;
  flex-wrap: wrap; */
  /* gap: 0.5rem;
}
.hero-title span {
  background: linear-gradient(45deg, #fff, #aaa, #fff);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.footer-text {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  opacity: 0.8;
} */ 
