:root {
  --gold-base: #d4af37;
  --gold-bright: #f9d857;
  --gold-light: #fceabb;
  --gold-warm: #e6c36d;
  --gold-deep: #b8860b;
  --gold-rich: #c19219;
  --gold-antique: #c28840;
  --gold-metallic: #d4af37;
  --gold-champagne: #f7e7ce;
  --gold-champagne-darker: #f9d7a2;
  --gold-bronze: #8c6b2d;
  --gold-shadow: rgba(197, 152, 5, 0.584);
}

/* ExtraLight (normal) */
@font-face {
  font-family: 'Poppins';
  src: url("../src/fonts/Poppins-ExtraLight.ttf") format('truetype');
  font-weight: 200; /* ExtraLight weight */
  font-style: normal;
}

/* SemiBold (normal) */
@font-face {
  font-family: 'Poppins';
  src: url("../src/fonts/Poppins-SemiBold.ttf") format('truetype');
  font-weight: 600; /* SemiBold weight */
  font-style: normal;
}

/* SemiBold Italic */
@font-face {
  font-family: 'Poppins';
  src: url("../src/fonts/Poppins-SemiBoldItalic.ttf") format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Fondo y estructura general */
body,
html {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: sans-serif;
  height: 100%;
  
  
  background-image: url('../src/assets/background.jpg');
  /* background-repeat: no-repeat; */
  /* Prevents the image from repeating */
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

/* .home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */
.container{
  padding: 8.75rem 2rem 2rem 2rem;
  /* padding-top: 140px; 
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem; */
  margin-right: 2rem;
  margin-left: 2rem;
  /* max-width: 1600px; */
  min-height: calc(100vh - 25px - 15rem); /* 100vh menos el header menos el margin-top del footer */
}
.titles-pages {
    color: var(--gold-metallic);
    font-size: 2.8rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-align: center;
}

.titles-pages::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: var(--gold-light);
    margin: 0.5rem auto 0;
    border-radius: 2px;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */